<!DOCTYPE html>
<html>
  <head>
    <title>No Password</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "no_password/tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "no_password/application", media: "all", "data-turbo-track": "reload" %>

    <%= no_password_importmap_tags %>
  </head>

  <body>
    <div aria-live="assertive" class="fixed inset-0 z-50 flex items-end px-4 py-6 pointer-events-none sm:p-6 sm:items-start">
      <%= turbo_frame_tag "notifications", class: "w-full flex flex-col items-center space-y-4 sm:items-end" do %>
        <%= render partial: "notification" %>
      <% end %>
    </div>

    <section>
      <%= yield %>
    </section>
  </body>
</html>
